<div class="border container mt-3 shadow-lg p-3 mb-5 bg-white rounded" id="form">
    <div class="row bg-light text-center ">
        <h2 class="">Registration Form </h2>
    </div>
    <section>
        <form class="needs-validation" novalidate [formGroup]="registrationFrom" (ngSubmit)="LoginUser()">
            <div class="row form mt-4">
                <div class="col-md-12" *ngFor="let control of dynamicFromArray">

                    <!-- text -->
                    <div class="form-group row my-2">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">{{control.label}}</label>
                        <div class="col-sm-10">

                            <input *ngIf="control.type==='text'" type="{{control.type}}" maxlength="10" minlength="2"
                                class="form-control" id="inputEmail3" name="{{control.name}}" placeholder="Enter Name"
                                required>
                            <div *ngIf="control.type==='text'" class="invalid-feedback">
                                Please enter a Name.
                            </div>

                            <textarea *ngIf="control.type==='textarea'" id="validationTextarea" type="{{control.type}}"
                                class="form-control" name="{{control.name}}" required></textarea>
                            <div *ngIf="control.type==='textarea'" class="invalid-feedback">
                                Please enter a message in the textarea.
                            </div>


                            <input *ngIf="control.type==='range'" type="{{control.type}}" class="form-control-range"
                                id="formControlRange" name="{{control.name}}" min="1" max="100" step="1" required>

                            <input *ngIf="control.type==='checkbox'" class="form-check-input" type="{{control.type}}"
                                id="gridCheck1" name="{{control.name}}" required>
                            <div *ngIf="control.type==='checkbox'" class="invalid-feedback">please check the box</div>

                            <label *ngIf="control.name==='lightDark'" class="switch col-sm-10">
                                <input type="checkbox" name="{{control.name}}">
                                <span class="slider round"></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2 form-group">
                <div class="col-3 offset-2">
                    <div class="d-grid">
                        <button class="btn btn-primary rounded" type="submit">Submit</button>
                    </div>
                </div>
                <div class="col-3 offset-2">
                    <div class="d-grid">
                        <button class="btn btn-primary rounded" (click)="livedashboard()">Live Dashboard</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
