<div class="container row mt-3">
    <div class="col-9">
        <h2 class="fw-bolder ms-4">Case Dashboard</h2>
    </div>
    <div class="col-3">
        <h4 class="btn btn-primary rounded" (click)="goto()">livedashboard</h4>
    </div>
</div>
<br><br>
<div class="ms-5 fw-bolder">
    <p>Case Count</p>
</div>
<div class="d-flex mt-3">
    <div><button class="ms-5 mx-2 fw-bolder text-white text-start"
            style="background-color:#5680ff;border-radius: 10px;border: none;width: 157px;height: 85px;"> 297 <br>
            In Progress</button></div>
    <div><button class="mx-2 fw-bolder text-white text-start"
            style="background-color:#f56060;border-radius: 10px;border: none;width: 157px;height: 85px;"> 297 <br>
            In Progress</button></div>
    <div><button class="mx-2 fw-bolder text-white text-start"
            style="background-color:#77d575;border-radius: 10px;border: none;width: 157px;height: 85px;"> 297 <br>
            In Progress</button></div>
    <div><button class="mx-2 fw-bolder text-white text-start"
            style="background-color:#cf7faf;border-radius: 10px;border: none;width: 157px;height: 85px;"> 297 <br>
            In Progress</button></div>
    <div><button class="mx-2 fw-bolder text-white text-start"
            style="background-color:#3d79bd;border-radius: 10px;border: none;width: 157px;height: 85px;"> 297 <br>
            In Progress</button></div>
    <div><button class="mx-2 fw-bolder text-white text-start"
            style="background-color:#e88f32;border-radius: 10px;border: none;width: 157px;height: 85px;"> 297 <br>
            In Progress</button></div>
</div>
<hr>
<div class="ms-5 fw-bolder">
    <p>Search Criteria</p>
</div>
<form class="ms-5">
    <div class="container row">
        <div class="col-4">
            <div class="mb-2"><label>Start Date*</label></div>
            <input type="date">
        </div>
        <div class="col-4">
            <div class="mb-2"><label>End Date*</label></div>
            <input type="date">
        </div>
        <div class="col-4">
            <div class="mb-2"><label>Status</label></div>
            <input type="text">
        </div>
    </div>
    <div class="d-flex">
        <button class="btn btn-primary mx-3 mt-3">Search</button>
        <button class="btn btn-danger mx-3 mt-3">Search</button>
    </div>
</form>
<hr>